In [138]:
import pandas as pd
import numpy as np

### importing datasets and data cleaning

In [20]:
players = pd.read_csv('data/soccer.players.csv')
players.drop('_id', axis=1, inplace=True)

In [22]:
players.head()

     Squad     Comp            Player Nation    Pos  Age  Born
0  Ajaccio  Ligue 1  Mickaël Alphonse    GLP     DF   33  1989
1  Ajaccio  Ligue 1     Cédric Avinel    GLP     DF   35  1986
2  Ajaccio  Ligue 1   Mickaël Barreto    FRA     MF   31  1991
3  Ajaccio  Ligue 1    Cyrille Bayala    BFA     MF   26  1996
4  Ajaccio  Ligue 1    Youcef Belaïli    ALG  MF,FW   30  1992

In [146]:
players['player_id'] = np.arange(len(players))
players.head()

     Squad     Comp            Player Nation    Pos  Age  Born  player_id
0  Ajaccio  Ligue 1  Mickaël Alphonse    GLP     DF   33  1989          0
1  Ajaccio  Ligue 1     Cédric Avinel    GLP     DF   35  1986          1
2  Ajaccio  Ligue 1   Mickaël Barreto    FRA     MF   31  1991          2
3  Ajaccio  Ligue 1    Cyrille Bayala    BFA     MF   26  1996          3
4  Ajaccio  Ligue 1    Youcef Belaïli    ALG  MF,FW   30  1992          4

In [241]:
players_defense = pd.read_csv('data/player_defense2023.csv')
players_defense.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_defense = pd.merge(players_defense, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_defense.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_defense.head()

,id,Mins_Per_90,Tkl_Tackles,TklW_Tackles,Def 3rd_Tackles,Mid 3rd_Tackles,Att 3rd_Tackles,Tkl_Challenges,Att_Challenges,Tkl_percent_Challenges,Lost_Challenges,Blocks_Blocks,Sh_Blocks,Pass_Blocks,Int,Tkl+Int,Clr,Err,player_id
0,1,15.1,35,23,20,11,4,20,33,60.6,13,17,5,12,35,70,44,1,0
1,2,19.9,13,7,8,5,0,8,12,66.7,4,20,13,7,15,28,91,1,1
2,3,14.7,32,20,12,17,3,8,45,17.8,37,17,0,17,18,50,11,0,2
3,4,22.3,53,37,16,20,17,23,48,47.9,25,20,3,17,25,78,21,0,3
4,5,12.8,18,10,3,9,6,8,20,40.0,12,10,1,9,5,23,4,0,4

In [243]:
players_gca = pd.read_csv('data/player_gca2023.csv')
players_gca.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_gca = pd.merge(players_gca, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_gca.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_gca.head()

,id,Mins_Per_90,SCA_SCA,SCA90_SCA,PassLive_SCA,PassDead_SCA,TO_SCA,Sh_SCA,Fld_SCA,Def_SCA,GCA_GCA,GCA90_GCA,PassLive_GCA,PassDead_GCA,TO_GCA,Sh_GCA,Fld_GCA,Def_GCA,player_id
0,1,15.1,19,1.25,15,1,1,1,0,1,0,0.00,0,0,0,0,0,0,0
1,2,19.9,3,0.15,1,1,0,1,0,0,1,0.05,0,0,0,1,0,0,1
2,3,14.7,30,2.04,22,7,0,0,0,1,1,0.07,1,0,0,0,0,0,2
3,4,22.3,43,1.93,29,1,4,1,4,4,2,0.09,1,0,0,0,0,1,3
4,5,12.8,47,3.68,24,9,4,4,6,0,10,0.78,5,0,2,1,2,0,4

In [282]:
players_keeper_adv = pd.read_csv('data/player_keeper_adv2023.csv')
players_keeper_adv.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_keeper_adv = pd.merge(players_keeper_adv, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_keeper_adv.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_keeper_adv.describe()

,id,Mins_Per_90,GA_Goals,PKA_Goals,FK_Goals,CK_Goals,OG_Goals,PSxG_Expected,PSxG_per_SoT_Expected,PSxG+_per__minus__Expected,...,Att_Goal,Launch_percent_Goal,AvgLen_Goal,Opp_Crosses,Stp_Crosses,Stp_percent_Crosses,#OPA_Sweeper,#OPA_per_90_Sweeper,AvgDist_Sweeper,player_id
count,208.000000,208.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,204.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,206.000000,207.000000,207.000000,202.000000,208.000000
mean,104.500000,17.556250,24.396135,2.130435,0.420290,2.855072,0.811594,22.910628,0.280980,-0.673913,...,122.657005,50.678744,41.944928,239.478261,14.256039,5.700971,19.884058,1.113043,14.180693,1400.855769
std,60.188592,13.848073,19.537805,2.222434,0.738783,2.665541,1.078592,18.341586,0.071093,3.927053,...,96.913400,23.360905,11.955531,189.290418,13.044627,3.463707,19.722740,1.120272,3.825481,827.437712
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030000,-16.900000,...,1.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,20.000000
25%,52.750000,3.325000,5.000000,0.000000,0.000000,0.000000,0.000000,3.900000,0.250000,-2.050000,...,24.500000,33.900000,34.200000,44.000000,2.000000,3.725000,4.000000,0.655000,12.300000,690.750000
50%,104.500000,15.500000,22.000000,2.000000,0.000000,2.000000,0.000000,21.000000,0.280000,-0.300000,...,112.000000,51.800000,42.600000,216.000000,12.000000,5.650000,14.000000,1.000000,14.200000,1408.000000
75%,156.250000,32.075000,39.000000,3.000000,1.000000,5.000000,1.000000,36.800000,0.310000,1.000000,...,199.000000,66.950000,49.500000,401.500000,22.000000,7.275000,29.000000,1.420000,16.275000,2075.750000
max,208.000000,38.000000,72.000000,10.000000,4.000000,11.000000,4.000000,69.500000,0.640000,10.100000,...,347.000000,100.000000,94.000000,614.000000,60.000000,20.000000,121.000000,13.850000,33.000000,2884.000000

In [247]:
players_shooting = pd.read_csv('data/player_shooting2023.csv')
players_shooting.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_shooting = pd.merge(players_shooting, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_shooting.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_shooting.head()

,id,Mins_Per_90,Gls_Standard,Sh_Standard,SoT_Standard,SoT_percent_Standard,Sh_per_90_Standard,SoT_per_90_Standard,G_per_Sh_Standard,G_per_SoT_Standard,Dist_Standard,FK_Standard,PK_Standard,PKatt_Standard,xG_Expected,npxG_Expected,npxG_per_Sh_Expected,G_minus_xG_Expected,np:G_minus_xG_Expected,player_id
0,1,15.1,0,10,2,20.0,0.66,0.13,0.00,0.00,16.3,0,0,0,0.5,0.5,0.05,-0.5,-0.5,0
1,2,19.9,1,3,1,33.3,0.15,0.05,0.33,1.00,4.1,0,0,0,1.0,1.0,0.41,0.0,0.0,1
2,3,14.7,1,19,4,21.1,1.29,0.27,0.05,0.25,26.6,3,0,0,0.9,0.9,0.05,0.1,0.1,2
3,4,22.3,1,22,6,27.3,0.99,0.27,0.05,0.17,15.2,0,0,0,2.0,2.0,0.09,-1.0,-1.0,3
4,5,12.8,6,27,9,33.3,2.11,0.70,0.04,0.11,24.8,4,5,6,6.2,1.8,0.07,-0.2,-0.8,4

In [248]:
players_passing = pd.read_csv('data/player_passing2023.csv')
players_passing.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_passing = pd.merge(players_passing, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_passing.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_passing.head()

,id,Mins_Per_90,Cmp_Total,Att_Total,Cmp_percent_Total,TotDist_Total,PrgDist_Total,Cmp_Short,Att_Short,Cmp_percent_Short,...,Ast,xAG,xA_Expected,A_minus_xAG_Expected,KP,Final_Third,PPA,CrsPA,PrgP,player_id
0,1,15.1,448,686,65.3,7834,3413,197,237,83.1,...,0,0.6,0.9,-0.6,11,43,10,5,51,0
1,2,19.9,607,714,85.0,12003,4107,174,194,89.7,...,0,0.0,0.1,0.0,0,13,0,0,31,1
2,3,14.7,481,695,69.2,9089,3373,205,247,83.0,...,1,1.9,2.1,-0.9,18,71,16,7,87,2
3,4,22.3,399,654,61.0,6041,2291,219,290,75.5,...,1,2.0,1.7,-1.0,19,45,14,7,66,3
4,5,12.8,328,458,71.6,5637,2159,162,201,80.6,...,3,3.5,3.3,-0.5,21,35,22,6,55,4

In [251]:
players_passtype = pd.read_csv('data/player_passtype2023.csv')
players_passtype.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_passtype = pd.merge(players_passtype, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_passtype.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_passtype.head()

,id,Mins_Per_90,Att,Live_Pass,Dead_Pass,FK_Pass,TB_Pass,Sw_Pass,Crs_Pass,TI_Pass,CK_Pass,In_Corner,Out_Corner,Str_Corner,Cmp_Outcomes,Off_Outcomes,Blocks_Outcomes,player_id
0,1,15.1,686,527,157,8,0,0,27,149,0,0,0,0,448,2,21,0
1,2,19.9,714,693,21,21,0,1,0,0,0,0,0,0,607,0,2,1
2,3,14.7,695,607,83,46,2,4,76,12,24,9,11,0,481,5,14,2
3,4,22.3,654,615,35,1,5,0,44,34,0,0,0,0,399,4,32,3
4,5,12.8,458,397,56,22,5,2,42,12,15,4,6,0,328,5,13,4

In [253]:
players_possession = pd.read_csv('data/player_possession2023.csv')
players_possession.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_possession = pd.merge(players_possession, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_possession.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_possession.head()

,id,Mins_Per_90,Touches_Touches,Def Pen_Touches,Def 3rd_Touches,Mid 3rd_Touches,Att 3rd_Touches,Att Pen_Touches,Live_Touches,Att_Take,...,TotDist_Carries,PrgDist_Carries,PrgC_Carries,Final_Third_Carries,CPA_Carries,Mis_Carries,Dis_Carries,Rec_Receiving,PrgR_Receiving,player_id
0,1,15.1,879,54,255,457,178,13,879,19,...,2988,1528,30,25,0,15,14,403,34,0
1,2,19.9,876,119,508,369,5,2,876,1,...,3235,1495,3,1,0,3,0,508,1,1
2,3,14.7,869,18,159,501,227,9,869,49,...,3671,1576,26,30,0,34,19,533,53,2
3,4,22.3,947,27,161,431,373,45,947,68,...,4019,1631,46,34,14,56,35,541,109,3
4,5,12.8,631,6,66,320,257,51,625,64,...,3115,1319,32,24,18,42,27,431,68,4

In [274]:
players_keepers = pd.read_csv('data/player_keepers2023.csv')
players_keepers.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
players_keepers = pd.merge(players_keepers, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')
players_keepers.drop(['Season_End_Year', 'Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born','Url'], axis=1, inplace = True)
players_keepers.head()
players_keepers.describe()

,id,MP_Playing,Starts_Playing,Min_Playing,Mins_Per_90,GA,GA90,SoTA,Saves,Save_percent,...,D,L,CS,CS_percent,PKatt_Penalty,PKA_Penalty,PKsv_Penalty,PKm_Penalty,Save_percent_Penalty,player_id
count,208.000000,208.000000,208.000000,208.000000,208.000000,207.000000,207.000000,207.000000,207.000000,204.000000,...,207.000000,207.000000,207.000000,195.00000,207.000000,207.000000,207.000000,207.000000,148.000000,208.000000
mean,104.500000,17.769231,17.557692,1580.134615,17.556250,24.396135,1.571256,75.497585,51.468599,68.920588,...,4.280193,6.681159,4.618357,25.34000,2.772947,2.130435,0.439614,0.202899,15.314189,1400.855769
std,60.188592,13.801373,13.967406,1246.201010,13.848073,19.537805,1.414115,60.146655,41.986333,13.984811,...,3.725893,5.991481,4.749476,21.56613,2.802849,2.222434,0.785163,0.509513,21.246387,827.437712
min,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
25%,52.750000,4.000000,3.000000,302.000000,3.325000,5.000000,1.000000,15.500000,9.500000,63.150000,...,1.000000,1.000000,1.000000,11.10000,0.000000,0.000000,0.000000,0.000000,0.000000,690.750000
50%,104.500000,15.500000,15.500000,1395.000000,15.500000,22.000000,1.400000,64.000000,45.000000,70.100000,...,4.000000,6.000000,3.000000,23.10000,2.000000,2.000000,0.000000,0.000000,0.000000,1408.000000
75%,156.250000,32.250000,32.000000,2887.000000,32.075000,39.000000,1.795000,129.500000,90.000000,75.000000,...,7.000000,10.500000,7.500000,33.75000,4.500000,3.000000,1.000000,0.000000,30.825000,2075.750000
max,208.000000,38.000000,38.000000,3420.000000,38.000000,72.000000,15.000000,200.000000,154.000000,100.000000,...,14.000000,22.000000,26.000000,100.00000,14.000000,10.000000,4.000000,3.000000,100.000000,2884.000000

In [257]:
players_defense.describe()

,id,Mins_Per_90,Tkl_Tackles,TklW_Tackles,Def 3rd_Tackles,Mid 3rd_Tackles,Att 3rd_Tackles,Tkl_Challenges,Att_Challenges,Tkl_percent_Challenges,Lost_Challenges,Blocks_Blocks,Sh_Blocks,Pass_Blocks,Int,Tkl+Int,Clr,Err,player_id
count,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2539.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000
mean,1445.000000,13.868501,20.984078,12.391831,10.116996,8.139148,2.727934,9.846660,20.510211,46.184246,10.663551,14.195569,4.017307,10.178262,11.434060,32.418138,23.224299,0.380755,1444.000000
std,834.126789,10.925758,21.524557,12.915081,11.601838,9.048386,3.394949,10.845347,21.013565,23.200676,11.424675,13.784457,6.199286,10.122402,13.384777,33.391371,31.358190,0.797583,834.126789
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,723.000000,3.400000,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,3.000000,33.300000,2.000000,2.000000,0.000000,1.000000,1.000000,4.000000,3.000000,0.000000,722.000000
50%,1445.000000,12.300000,14.000000,8.000000,6.000000,5.000000,2.000000,6.000000,14.000000,47.500000,7.000000,11.000000,2.000000,7.000000,6.000000,21.000000,11.000000,0.000000,1444.000000
75%,2167.000000,22.600000,33.000000,20.000000,16.000000,12.000000,4.000000,16.000000,32.000000,60.000000,16.000000,23.000000,5.000000,16.000000,18.000000,52.000000,30.000000,0.000000,2166.000000
max,2889.000000,38.000000,148.000000,83.000000,71.000000,65.000000,26.000000,74.000000,135.000000,100.000000,75.000000,99.000000,78.000000,52.000000,75.000000,195.000000,215.000000,7.000000,2888.000000

In [259]:
result = pd.merge(players_gca, players_defense, on='player_id', how='inner')

In [261]:
result.head()

,id_x,Mins_Per_90_x,SCA_SCA,SCA90_SCA,PassLive_SCA,PassDead_SCA,TO_SCA,Sh_SCA,Fld_SCA,Def_SCA,...,Att_Challenges,Tkl_percent_Challenges,Lost_Challenges,Blocks_Blocks,Sh_Blocks,Pass_Blocks,Int,Tkl+Int,Clr,Err
0,1,15.1,19,1.25,15,1,1,1,0,1,...,33,60.6,13,17,5,12,35,70,44,1
1,2,19.9,3,0.15,1,1,0,1,0,0,...,12,66.7,4,20,13,7,15,28,91,1
2,3,14.7,30,2.04,22,7,0,0,0,1,...,45,17.8,37,17,0,17,18,50,11,0
3,4,22.3,43,1.93,29,1,4,1,4,4,...,48,47.9,25,20,3,17,25,78,21,0
4,5,12.8,47,3.68,24,9,4,4,6,0,...,20,40.0,12,10,1,9,5,23,4,0

In [263]:
# players_defense = pd.merge(players_defense, players[['Squad', 'Player', 'player_id']], on=['Squad', 'Player'], how='left')

### creating player stat database

In [491]:
players_stat = pd.merge(players,players_defense, on=['player_id'], how='left', copy=False)
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90,Tkl_Tackles,...,Att_Challenges,Tkl_percent_Challenges,Lost_Challenges,Blocks_Blocks,Sh_Blocks,Pass_Blocks,Int,Tkl+Int,Clr,Err
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,33,60.6,13,17,5,12,35,70,44,1
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,12,66.7,4,20,13,7,15,28,91,1
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,45,17.8,37,17,0,17,18,50,11,0
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,48,47.9,25,20,3,17,25,78,21,0
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,20,40.0,12,10,1,9,5,23,4,0

In [493]:
players_stat = pd.merge(players_stat,players_gca, on=['player_id'], how='left', copy=False)
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,Fld_SCA,Def_SCA,GCA_GCA,GCA90_GCA,PassLive_GCA,PassDead_GCA,TO_GCA,Sh_GCA,Fld_GCA,Def_GCA
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,0,1,0,0.00,0,0,0,0,0,0
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,0,0,1,0.05,0,0,0,1,0,0
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,0,1,1,0.07,1,0,0,0,0,0
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,4,4,2,0.09,1,0,0,0,0,1
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,6,0,10,0.78,5,0,2,1,2,0

In [495]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [497]:
players_stat = pd.merge(players_stat,players_keepers, on=['player_id'], how='left', copy=False)
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,W,D,L,CS,CS_percent,PKatt_Penalty,PKA_Penalty,PKsv_Penalty,PKm_Penalty,Save_percent_Penalty
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [499]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [501]:
players_stat = pd.merge(players_stat,players_keeper_adv, on=['player_id'], how='left',copy=False)
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,AvgLen_Passes,Att_Goal,Launch_percent_Goal,AvgLen_Goal,Opp_Crosses,Stp_Crosses,Stp_percent_Crosses,#OPA_Sweeper,#OPA_per_90_Sweeper,AvgDist_Sweeper
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [503]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [505]:
players_stat = pd.merge(players_stat,players_shooting, on=['player_id'], how='left')
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,G_per_SoT_Standard,Dist_Standard,FK_Standard,PK_Standard,PKatt_Standard,xG_Expected,npxG_Expected,npxG_per_Sh_Expected,G_minus_xG_Expected,np:G_minus_xG_Expected
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,0.00,16.3,0,0,0,0.5,0.5,0.05,-0.5,-0.5
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,1.00,4.1,0,0,0,1.0,1.0,0.41,0.0,0.0
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,0.25,26.6,3,0,0,0.9,0.9,0.05,0.1,0.1
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,0.17,15.2,0,0,0,2.0,2.0,0.09,-1.0,-1.0
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,0.11,24.8,4,5,6,6.2,1.8,0.07,-0.2,-0.8

In [507]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [509]:
players_stat = pd.merge(players_stat,players_passing, on=['player_id'], how='left')
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,Cmp_percent_Long,Ast,xAG,xA_Expected,A_minus_xAG_Expected,KP,Final_Third,PPA,CrsPA,PrgP
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,33.8,0,0.6,0.9,-0.6,11,43,10,5,51
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,65.7,0,0.0,0.1,0.0,0,13,0,0,31
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,46.2,1,1.9,2.1,-0.9,18,71,16,7,87
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,31.6,1,2.0,1.7,-1.0,19,45,14,7,66
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,59.5,3,3.5,3.3,-0.5,21,35,22,6,55

In [511]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [513]:
players_stat = pd.merge(players_stat,players_passtype, on=['player_id'], how='left')
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,Sw_Pass,Crs_Pass,TI_Pass,CK_Pass,In_Corner,Out_Corner,Str_Corner,Cmp_Outcomes,Off_Outcomes,Blocks_Outcomes
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,0,27,149,0,0,0,0,448,2,21
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,1,0,0,0,0,0,0,607,0,2
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,4,76,12,24,9,11,0,481,5,14
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,0,44,34,0,0,0,0,399,4,32
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,2,42,12,15,4,6,0,328,5,13

In [515]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [517]:
players_stat = pd.merge(players_stat,players_possession, on=['player_id'], how='left')
players_stat.drop('id', axis=1, inplace=True)
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90_x,Tkl_Tackles,...,Carries_Carries,TotDist_Carries,PrgDist_Carries,PrgC_Carries,Final_Third_Carries,CPA_Carries,Mis_Carries,Dis_Carries,Rec_Receiving,PrgR_Receiving
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,473,2988,1528,30,25,0,15,14,403,34
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,576,3235,1495,3,1,0,3,0,508,1
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,601,3671,1576,26,30,0,34,19,533,53
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,620,4019,1631,46,34,14,56,35,541,109
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,476,3115,1319,32,24,18,42,27,431,68

In [519]:
players_stat.rename(columns={'Mins_Per_90_x':'Mins_Per_90'}, inplace=True)
players_stat.drop('Mins_Per_90_y', axis=1, inplace=True)

In [521]:
players_stat.head()

,Squad,Comp,Player,Nation,Pos,Age,Born,player_id,Mins_Per_90,Tkl_Tackles,...,Carries_Carries,TotDist_Carries,PrgDist_Carries,PrgC_Carries,Final_Third_Carries,CPA_Carries,Mis_Carries,Dis_Carries,Rec_Receiving,PrgR_Receiving
0,Ajaccio,Ligue 1,Mickaël Alphonse,GLP,DF,33,1989,0,15.1,35,...,473,2988,1528,30,25,0,15,14,403,34
1,Ajaccio,Ligue 1,Cédric Avinel,GLP,DF,35,1986,1,19.9,13,...,576,3235,1495,3,1,0,3,0,508,1
2,Ajaccio,Ligue 1,Mickaël Barreto,FRA,MF,31,1991,2,14.7,32,...,601,3671,1576,26,30,0,34,19,533,53
3,Ajaccio,Ligue 1,Cyrille Bayala,BFA,MF,26,1996,3,22.3,53,...,620,4019,1631,46,34,14,56,35,541,109
4,Ajaccio,Ligue 1,Youcef Belaïli,ALG,"MF,FW",30,1992,4,12.8,18,...,476,3115,1319,32,24,18,42,27,431,68

In [523]:
players_stat.describe()

,Age,Born,player_id,Mins_Per_90,Tkl_Tackles,TklW_Tackles,Def 3rd_Tackles,Mid 3rd_Tackles,Att 3rd_Tackles,Tkl_Challenges,...,Carries_Carries,TotDist_Carries,PrgDist_Carries,PrgC_Carries,Final_Third_Carries,CPA_Carries,Mis_Carries,Dis_Carries,Rec_Receiving,PrgR_Receiving
count,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,...,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000
mean,25.257529,1996.392870,1444.000000,13.868501,20.984078,12.391831,10.116996,8.139148,2.727934,9.846660,...,449.606092,2411.031499,1197.377639,21.407061,16.302873,5.431983,18.738664,11.137764,482.833853,47.127034
std,4.623138,4.621291,834.126789,10.925758,21.524557,12.915081,11.601838,9.048386,3.394949,10.845347,...,419.618419,2294.137594,1206.170419,26.507625,19.141241,10.244330,20.745420,13.420474,446.631415,62.315040
min,15.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,1993.000000,722.000000,3.400000,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,...,99.000000,510.000000,220.000000,2.000000,2.000000,0.000000,3.000000,1.000000,105.000000,3.000000
50%,25.000000,1997.000000,1444.000000,12.300000,14.000000,8.000000,6.000000,5.000000,2.000000,6.000000,...,343.000000,1785.000000,836.000000,11.000000,9.000000,1.000000,12.000000,6.000000,370.000000,20.000000
75%,29.000000,2000.000000,2166.000000,22.600000,33.000000,20.000000,16.000000,12.000000,4.000000,16.000000,...,689.000000,3712.000000,1834.000000,31.000000,25.000000,6.000000,27.000000,16.000000,739.000000,70.000000
max,41.000000,2007.000000,2888.000000,38.000000,148.000000,83.000000,71.000000,65.000000,26.000000,74.000000,...,2376.000000,14430.000000,8259.000000,221.000000,142.000000,140.000000,139.000000,92.000000,2586.000000,520.000000

In [524]:
players_stat.columns

Index(['Squad', 'Comp', 'Player', 'Nation', 'Pos', 'Age', 'Born', 'player_id',
       'Mins_Per_90', 'Tkl_Tackles',
       ...
       'Carries_Carries', 'TotDist_Carries', 'PrgDist_Carries', 'PrgC_Carries',
       'Final_Third_Carries', 'CPA_Carries', 'Mis_Carries', 'Dis_Carries',
       'Rec_Receiving', 'PrgR_Receiving'],
      dtype='object', length=161)

### next